<div class="row">
  <div class="col-md-11">
	  <div class="panel panel-default">
	  	<div class="panel-heading">Etape 2</div>
		  <div class="panel-body">
			<% if @data %>
				<table class="table table-stripped">
				<% @data['records'][0]['fields'].each { | k, v | %>
					<th><%="#{k}"%></th> 
				<% } %>
				<% @data['records'].each { | r | %>
					<tr>
						<% r['fields'].each { | k, value | %>
						<td><%=" #{value}" || "&nbsp;" %></td> 
						<% } %>
					</tr> 
				<% } %>
				</table>
			<%else %>
			# TODO : Traiter les erreurs éventuelles de connexion ou de données non trouvées
			No Data Available !
			<%end %>
		  </div>
	  </div>
  </div>
</div>


