
<div class="row">

  <div class="col-md-6">
	  <div class="panel panel-default">
	  	<div class="panel-heading">Connexion</div>
		  <div class="panel-body">
		    <a href='/auth/openidconnect' class="btn btn-primary btn-lg">Sign in with France Connect</a>
		  </div>
	  </div>
  </div>

  <div class="col-md-6">
	  <div class="panel panel-default">
	  	<div class="panel-heading">User Infos : </div>
		  <div class="panel-body">

		  </div>
	  </div>
  </div>

</div>