
<div class="row">

  <div class="col-md-5 col-md-offset-1">
	  <div class="panel panel-default">
	  	<div class="panel-heading">Votre démarche en ligne</div>
		  <div class="panel-body">
		    <a href='/auth/openidconnect' class="btn btn-primary btn-sm">Commencer la démarche</a>
		    <!--a href='https://fcp.integ01.dev-franceconnect.fr/call?provider=dgfip' class="btn btn-primary btn-lg">Impots</a-->
		    
		  </div>
	  </div>
  </div>

  <div class="col-md-5">
	  <div class="panel panel-default">
	  	<div class="panel-heading">Ici une pub ? </div>
		  <div class="panel-body">

		  </div>
	  </div>
  </div>

</div>