
<div class="row">

  <div class="col-md-5 col-md-offset-1">
	  <div class="panel panel-default">
	  	<div class="panel-heading">Votre démarche en ligne de demande de bac vert</div>
		  <div class="panel-body">
		  <p>
		  La Métropole vous propose de faire votre demande de bac vert en ligne, via une interconnexion aux sites de l'administration française, afin de vous simplifier le plus possbile cette démarche.
		  </p>
		    <a href='/auth/openidconnect' class="btn btn-primary btn-sm pull-right">Commencer la démarche</a>
		    <!--a href='https://fcp.integ01.dev-franceconnect.fr/call?provider=dgfip' class="btn btn-primary btn-lg">Impots</a-->
		    
		  </div>
	  </div>
  </div>

  <div class="col-md-5">
	  <div class="panel panel-default">
	  	<div class="panel-heading">En direct </div>
		  <div class="panel-body">


            <!-- Nav tabs -->
            <ul class="nav" role="tablist">

                
                    <li class="col-xs-4 active"><a href="/#actus" role="tab" data-toggle="tab">Grand Lyon magazine</a></li>
                

                
                    <li class="col-xs-4"><a class="twitter " href="/#twitter" role="tab" data-toggle="tab">Twitter</a></li>
                

                
                    <li class="col-xs-4"><a class="facebook" href="/#facebook" role="tab" data-toggle="tab">Facebook</a></li>
                
            </ul>

            <!-- Tab panes -->
            <div class="tab-content col-xs-12">

                
                    <div class="tab-pane active" id="actus">
                    	
 	
			<div class="media">
		
	
        	
        			<a class="pull-left" title="Lire la suite de &quot;Concours : illustrez l’Université de Lyon&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/16/concours-illustrez-luniversite-de-lyon/">
        				<img class="media-object" src="/typo3temp/_processed_/csm_1648_crop_184x127_20131127_vueduciel_presquile01_jleone_1000_c65d7bdf8c.jpg" width="127" height="84" alt="" />
       				</a>
        		
	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 15h41</p>
			<p><a title="Lire la suite de &quot;Concours : illustrez l’Université de Lyon&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/16/concours-illustrez-luniversite-de-lyon/">Concours : illustrez l’Université de Lyon</a></p>
	    </div>
	</div>

 	
			<div class="media">
		
	
        	
        			<a class="pull-left" title="Lire la suite de &quot;Citiz LPA : une nouvelle station à Bron&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/16/citiz-lpa-une-nouvelle-station-a-bron/">
        				<img class="media-object" src="/typo3temp/_processed_/csm_3514_crop_184x127_20150216-jleone_grandlyon_autolibreservice-1_76394af46d.jpg" width="127" height="84" alt="" />
       				</a>
        		
	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 09h49</p>
			<p><a title="Lire la suite de &quot;Citiz LPA : une nouvelle station à Bron&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/16/citiz-lpa-une-nouvelle-station-a-bron/">Citiz LPA : une nouvelle station à Bron</a></p>
	    </div>
	</div>

 	
			<div class="media">
		
	
        	
        			<a class="pull-left" title="Lire la suite de &quot;Le jardin du Confluent est ouvert !&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/15/le-jardin-du-confluent-ouverture-ce-week-end/">
        				<img class="media-object" src="/typo3temp/_processed_/csm_3499_crop_184x127_visueljardinconfluence_0_bc1c06cdb4.jpg" width="127" height="84" alt="" />
       				</a>
        		
	    <div class="media-body">
			<p class="media-heading">lundi 15 juin 2015 à 16h00</p>
			<p><a title="Lire la suite de &quot;Le jardin du Confluent est ouvert !&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/15/le-jardin-du-confluent-ouverture-ce-week-end/">Le jardin du Confluent est ouvert !</a></p>
	    </div>
	</div>

 	
			<div class="media hidden-xs hidden-sm">
		
	
        	
        			<a class="pull-left" title="Lire la suite de &quot;100% verte, l’appli Grand Lyon nature version été 2015 !&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/15/100-verte-lappli-grand-lyon-nature-version-ete-2015/">
        				<img class="media-object" src="/typo3temp/_processed_/csm_3503_crop_184x127_appli-grandlyon-nature-2_1200_e0a23d7152.jpg" width="127" height="84" alt="" />
       				</a>
        		
	    <div class="media-body">
			<p class="media-heading">lundi 15 juin 2015 à 15h50</p>
			<p><a title="Lire la suite de &quot;100% verte, l’appli Grand Lyon nature version été 2015 !&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/15/100-verte-lappli-grand-lyon-nature-version-ete-2015/">100% verte, l’appli Grand Lyon nature version été 2015 !</a></p>
	    </div>
	</div>

 	
			<div class="media hidden-xs hidden-sm">
		
	
        	
        			<a class="pull-left" title="Lire la suite de &quot;Les invites de Villeurbanne&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/15/les-invites-de-villeurbanne/">
        				<img class="media-object" src="/typo3temp/_processed_/csm_3502_crop_184x127_invites_affiche_1200_8ee407b197.jpg" width="127" height="84" alt="" />
       				</a>
        		
	    <div class="media-body">
			<p class="media-heading">lundi 15 juin 2015 à 14h26</p>
			<p><a title="Lire la suite de &quot;Les invites de Villeurbanne&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/15/les-invites-de-villeurbanne/">Les invites de Villeurbanne</a></p>
	    </div>
	</div>

 	
			<div class="media hidden-xs hidden-sm">
		
	
        	
        			<a class="pull-left" title="Lire la suite de &quot;Fêtes consulaires : Lyon à l’écoute du monde&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/10/fetes-consulaires-lyon-a-lecoute-du-monde/">
        				<img class="media-object" src="/typo3temp/_processed_/csm_3496_crop_184x127_2015_fetesconsulaires_visuel_8f4a856478.gif" width="127" height="84" alt="" />
       				</a>
        		
	    <div class="media-body">
			<p class="media-heading">mercredi 10 juin 2015 à 18h51</p>
			<p><a title="Lire la suite de &quot;Fêtes consulaires : Lyon à l’écoute du monde&quot; (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/10/fetes-consulaires-lyon-a-lecoute-du-monde/">Fêtes consulaires : Lyon à l’écoute du monde</a></p>
	    </div>
	</div>

                        <a class="article-link" title="Ouvrir le site Grand Lyon magazine (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com">Toute l'actu sur Grand Lyon magazine</a>
                    </div>
                

                
                    <div class="tab-pane twitter " id="twitter">
        				
 	
			<div class="media">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-twitter" title="Voir le tweet sur Twitter (nouvelle fenêtre)" target="_blank" href="https://twitter.com/776140405/status/610822753336299521"></a>

	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 16h54</p>
			<p>Ne manquez pas la dédicace de <a href="https://twitter.com/jibe_" title="Voir les tweets de @jibe_ sur Twitter (nouvelle fenêtre)" target="_blank">@jibe_</a> au Musée gallo-romain de Lyon-Fourvière le mercredi 24 juin à 19h ! Dernière chance <a href="https://twitter.com/lyonbd" title="Voir les tweets de @lyonbd sur Twitter (nouvelle fenêtre)" target="_blank">@lyonbd</a> ;)</p>
	    </div>

	</div>

 	
			<div class="media">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-twitter" title="Voir le tweet sur Twitter (nouvelle fenêtre)" target="_blank" href="https://twitter.com/776140405/status/610812813334978560"></a>

	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 16h14</p>
			<p><a href="https://twitter.com/hashtag/Concours" title="Voir les tweets hashtaggué #Concours sur Twitter (nouvelle fenêtre)" target="_blank">#Concours</a> : étudiants, illustrez l’Université de Lyon ! <a href="http://t.co/luvFcprgpJ" title="Suivre le lien sur Twitter (nouvelle fenêtre)" target="_blank"><a href="http://t.co/luvFcprgpJ" target="_blank">t.co/luvFcprgpJ</a></a> <a href="https://twitter.com/UniversiteLyon" title="Voir les tweets de @UniversiteLyon sur Twitter (nouvelle fenêtre)" target="_blank">@UniversiteLyon</a></p>
	    </div>

	</div>

 	
			<div class="media">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-twitter" title="Voir le tweet sur Twitter (nouvelle fenêtre)" target="_blank" href="https://twitter.com/776140405/status/610803929044094976"></a>

	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 15h39</p>
			<p>Créez votre compte My <a href="https://twitter.com/hashtag/Onlymoov" title="Voir les tweets hashtaggué #Onlymoov sur Twitter (nouvelle fenêtre)" target="_blank">#Onlymoov</a> et définissez vos trajets favoris pour y accéder en un clic ! Simple et rapide ! <a href="http://t.co/rceCmXjVW5" title="Suivre le lien sur Twitter (nouvelle fenêtre)" target="_blank"><a href="http://t.co/rceCmXjVW5" target="_blank">t.co/rceCmXjVW5</a></a></p>
	    </div>

	</div>

 	
			<div class="media hidden-xs hidden-sm">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-twitter" title="Voir le tweet sur Twitter (nouvelle fenêtre)" target="_blank" href="https://twitter.com/776140405/status/610770884702400512"></a>

	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 13h28</p>
			<p>RT <a href="https://twitter.com/CovoitGLyon" title="Voir les tweets de @CovoitGLyon sur Twitter (nouvelle fenêtre)" target="_blank">@CovoitGLyon</a>: Envie d'assister au concert de <a href="https://twitter.com/george_ezra" title="Voir les tweets de @george_ezra sur Twitter (nouvelle fenêtre)" target="_blank">@george_ezra</a> aux Nuits de <a href="https://twitter.com/fourviere" title="Voir les tweets de @fourviere sur Twitter (nouvelle fenêtre)" target="_blank">@fourviere</a> ? On vous offre vos places <a href="http://t.co/32ZtRBRV83" title="Suivre le lien sur Twitter (nouvelle fenêtre)" target="_blank"><a href="http://t.co/32ZtRBRV83" target="_blank">t.co/32ZtRBRV83</a></a> http…</p>
	    </div>

	</div>

 	
			<div class="media hidden-xs hidden-sm">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-twitter" title="Voir le tweet sur Twitter (nouvelle fenêtre)" target="_blank" href="https://twitter.com/776140405/status/610736672901328896"></a>

	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 11h12</p>
			<p>Nouvelle station Citiz LPA à Bron : 40ème ouverture et 1ère en dehors de Lyon ! <a href="http://t.co/6DxYom5ceH" title="Suivre le lien sur Twitter (nouvelle fenêtre)" target="_blank"><a href="http://t.co/6DxYom5ceH" target="_blank">t.co/6DxYom5ceH</a></a>  <a href="https://twitter.com/hashtag/autopartage" title="Voir les tweets hashtaggué #autopartage sur Twitter (nouvelle fenêtre)" target="_blank">#autopartage</a> <a href="http://t.co/vON4TMmFw4" title="Suivre le lien sur Twitter (nouvelle fenêtre)" target="_blank"><a href="http://t.co/vON4TMmFw4" target="_blank">t.co/vON4TMmFw4</a></a></p>
	    </div>

	</div>

 	
			<div class="media hidden-xs hidden-sm">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-twitter" title="Voir le tweet sur Twitter (nouvelle fenêtre)" target="_blank" href="https://twitter.com/776140405/status/610722401148641280"></a>

	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 10h15</p>
			<p>Instantanés du week-end de bulles <a href="https://twitter.com/lyonbd" title="Voir les tweets de @lyonbd sur Twitter (nouvelle fenêtre)" target="_blank">@lyonbd</a> <a href="http://t.co/CyTwt2CQPB" title="Suivre le lien sur Twitter (nouvelle fenêtre)" target="_blank"><a href="http://t.co/CyTwt2CQPB" target="_blank">t.co/CyTwt2CQPB</a></a> Le festival se poursuit dans la ville ! <a href="http://t.co/IQuYUCsC44" title="Suivre le lien sur Twitter (nouvelle fenêtre)" target="_blank"><a href="http://t.co/IQuYUCsC44" target="_blank">t.co/IQuYUCsC44</a></a> <a href="https://twitter.com/hashtag/LyonBD" title="Voir les tweets hashtaggué #LyonBD sur Twitter (nouvelle fenêtre)" target="_blank">#LyonBD</a></p>
	    </div>

	</div>

        				<a class="article-link" title="Nous suivre sur Twitter (nouvelle fenêtre)" target="_blank" href="https://twitter.com/grandlyon">Nous suivre</a>
                    </div>
                

                
                    <div class="tab-pane facebook" id="facebook">
        				
 	
			<div class="media">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-facebook" title="Voir le message sur Facebook (nouvelle fenêtre)" target="_blank" href="https://www.facebook.com/legrandlyon/videos/767945233322469/"></a>
		
	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 15h20</p>
			<p>La nouvelle version d'Onlymoov vous délivre une information multimodale en temps...
			<a title="Lire la suite sur Facebook (nouvelle fenêtre)" target="_blank" href="https://www.facebook.com/legrandlyon/videos/767945233322469/">Lire la suite</a></p>
	    </div>

	</div>

 	
			<div class="media">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-facebook" title="Voir le message sur Facebook (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/16/citiz-lpa-une-nouvelle-station-a-bron/"></a>
		
	    <div class="media-body">
			<p class="media-heading">mardi 16 juin 2015 à 11h06</p>
			<p>Une nouvelle station Citiz LPA a ouvert à Bron : c'est la 40ème créée par la...
			<a title="Lire la suite sur Facebook (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/16/citiz-lpa-une-nouvelle-station-a-bron/">Lire la suite</a></p>
	    </div>

	</div>

 	
			<div class="media">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-facebook" title="Voir le message sur Facebook (nouvelle fenêtre)" target="_blank" href="https://www.facebook.com/legrandlyon/photos/a.767366910046968.1073741903.146908632092802/767366926713633/?type=1"></a>
		
	    <div class="media-body">
			<p class="media-heading">lundi 15 juin 2015 à 18h23</p>
			<p>Le Lyon BD Festival s'est terminé hier pour la partie "in" mais il fête ses 10...
			<a title="Lire la suite sur Facebook (nouvelle fenêtre)" target="_blank" href="https://www.facebook.com/legrandlyon/photos/a.767366910046968.1073741903.146908632092802/767366926713633/?type=1">Lire la suite</a></p>
	    </div>

	</div>

 	
			<div class="media hidden-xs hidden-sm">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-facebook" title="Voir le message sur Facebook (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/15/les-invites-de-villeurbanne/"></a>
		
	    <div class="media-body">
			<p class="media-heading">lundi 15 juin 2015 à 16h49</p>
			<p>Pour la 14ème édition des Invites de Villeurbanne, la programmation à ciel ouvert...
			<a title="Lire la suite sur Facebook (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/15/les-invites-de-villeurbanne/">Lire la suite</a></p>
	    </div>

	</div>

 	
			<div class="media hidden-xs hidden-sm">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-facebook" title="Voir le message sur Facebook (nouvelle fenêtre)" target="_blank" href="https://www.facebook.com/legrandlyon/photos/a.215748771875454.47752.146908632092802/767252456725080/?type=1"></a>
		
	    <div class="media-body">
			<p class="media-heading">lundi 15 juin 2015 à 11h49</p>
			<p>Devenez chasseur de son et participez à la bande originale de la Métropole !Tous...
			<a title="Lire la suite sur Facebook (nouvelle fenêtre)" target="_blank" href="https://www.facebook.com/legrandlyon/photos/a.215748771875454.47752.146908632092802/767252456725080/?type=1">Lire la suite</a></p>
	    </div>

	</div>

 	
			<div class="media hidden-xs hidden-sm">
		

		<a class="pull-left link-sprite-focus glm-icons-live-placeholder-facebook" title="Voir le message sur Facebook (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/13/le-jardin-du-confluent-ouverture-ce-week-end/"></a>
		
	    <div class="media-body">
			<p class="media-heading">samedi 13 juin 2015 à 12h45</p>
			<p>Le jardin du Musée des Confluences est ouvert !Il rejoint la grande famille des...
			<a title="Lire la suite sur Facebook (nouvelle fenêtre)" target="_blank" href="http://www.magazine.grandlyon.com/2015/06/13/le-jardin-du-confluent-ouverture-ce-week-end/">Lire la suite</a></p>
	    </div>

	</div>

                        <a class="article-link" title="Nous suivre sur Facebook (nouvelle fenêtre)" target="_blank" href="https://www.facebook.com/legrandlyon">Nous suivre</a>
                    </div>
                

            </div>
        </div>
    </div>

</div>
		

</div>