<div class="row">

  <div class="col-md-6">
	  <div class="panel panel-default">
	  	<div class="panel-heading">User Infos</div>
		  <div class="panel-body">
				<table class="table table-striped">
				  <% for k, v in @user %>
				    <tr>
				    	<td><%= k %></td>
				    	<td><%= v%></td>
			    	</tr>
				  <% end %>
				</table>
		  </div>
	  </div>
  </div>

  <div class="col-md-6">
	  <div class="panel panel-default">
	  	<div class="panel-heading">Credentials</div>
		  <div class="panel-body">
				<table class="table table-striped">
				  <% for k, v in @credentials %>
				    <tr>
				    	<td><%= k %></td>
				    	<td><%= v %></td>
				    </tr>
				  <% end %>
				</table>
		  </div>
	  </div>
  </div>
</div>